log/*.log
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
*.swp
*~
.DS_Store
.#*
[#]*
# 22 Apr 2011: can no longer ignore data/ it's useful
# decided against mirroring data files
# data/*
# data/*/*
# data/*/*/*
db/geonames.db
.emacs*
