<link rel="stylesheet" href="MAPS/leaflet.css" />
<script src="MAPS/leaflet.js"></script>
<script src="MAPS/turf.min.js"></script>
<script src="bclib.js"></script>
<script src="bclib-staging.js"></script>

<style>html,body, #map {height:100%;}</style>

OSM: <input type="checkbox" id="osmMap" value="false">
<input type="range" id="osmMap.o" min="0" max="1" step="0.01"><br>

Time zones: <input type="checkbox" id="tzMap" value="false">
<input type="range" id="tzMap.o" min="0" max="1" step="0.01"><br>

Grid: <input type="checkbox" id="infoMap" value="false">
<input type="range" id="infoMap.o" min="0" max="1" step="0.01"><br>

Climate: <input type="checkbox" id="climateMap" value="false">
<input type="range" id="climateMap.o" min="0" max="1" step="0.01"><br>

Land Use: <input type="checkbox" id="landUseMap" value="false">
<input type="range" id="landUseMap.o" min="0" max="1" step="0.01"><br>

Temperature: <input type="checkbox" id="owmTemp" value="false">
<input type="range" id="owmTemp.o" min="0" max="1" step="0.01"><br>

Clouds: <input type="checkbox" id="owmClouds" value="false">
<input type="range" id="owmClouds.o" min="0" max="1" step="0.01"><br>

Precipitation: <input type="checkbox" id="owmPrecip" value="false">
<input type="range" id="owmPrecip.o" min="0" max="1" step="0.01"><br>

Wind: <input type="checkbox" id="owmWind" value="false">
<input type="range" id="owmWind.o" min="0" max="1" step="0.01"><br>

Buffer: <input type="checkbox" id="buffer" value="false">
<input type="range" id="buffer.o" min="0" max="1" step="0.01"><br>

<br>

<div id="map"></div>

<script>

console.log(btoa("hello"));

td(URLCache.get("https://a.tile.openstreetmap.org/0/0/0.png"));

console.log(URLCache);

setTimeout(function () {td(URLCache.get("https://a.tile.openstreetmap.org/0/0/0.png")); console.log(URLCache)}, 3000);

die;


// As an opaque object, there is no exposed property.

let c = document.createElement('canvas');
let ctx = c.getContext("2d");

let gr = ctx.createLinearGradient(0, 0, 200, 0);
gr.addColorStop(0, "red");
gr.addColorStop(1, "white");

console.log(gr);

console.log(grid2Distances({lng: -106, lat: 35, slat: -90, nlat: 90, wlng: -180, elng: 180, width: 10, height: 10}));


// this is NOT a JS command, but causes a syntax error which stops the script
// die;

let test1 = tilePixels2DistanceBand({z: 3, x: 1, y: 2, 
      distances: [1000, 2000, 3000], lat: 35, lng: -106});

color = [];
color[0] = [255, 0, 0, 255];
color[1] = [0, 255, 0, 255];
color[2] = [0, 0, 255, 255];
color[3] = [0, 0, 0, 255];

let colors = test1.map(x => x.map(y => color[y]));

console.log("DIST", array2PNG({arr: colors}));

console.log(turf.distance(turf.point([-106, 35]), turf.point([-90, 40])));

// below works
console.log(turf.distance([-106, 35], [-90, 40]));


// https://stackoverflow.com/questions/28405619/javascript-array-to-png-client-side

let arr = [];

for (i=0; i < 10; i++) {
  arr[i] = [];
  for (j=0; j < 30; j++) {
    arr[i][j] = [255, 0, 0, 255];
  }
}

console.log("RED", array2PNG({arr: arr}));

let id = new ImageData(512, 256);
for (i=0; i<512*256*4; i++) {id.data[i] = 120;}

// this canvas is never displayed, its just used to create PNGs

let canvas = document.createElement('canvas');

canvas.getContext('2d').putImageData(id, 0, 0);

var url = canvas.toDataURL();

console.log(`URL: ${url}`);

let map = L.map('map', {crs: L.CRS.Simple});
map.fitBounds([[-90, -180], [90, 180]]);
map.on('zoomend', redraw_map);
map.on('moveend', redraw_map);

// this works very poorly

var point = turf.point([-106.651138463684, 35.0844869067959]);
var buffered = turf.buffer(point, 5000, {units: 'miles', mercator: 'false'});
var buff2 = turf.circle(point, 5000, {units: 'miles'});

// console.log(buffered);

let maps = [];

// I dislike sharing my API key here but see no way around it (I could
// load it from a private library, but I'd still need to expose it in
// production)

maps['buffer'] = {map: map, projection: 0, opacity: 1, lng: 0, lat: 0, dist: [5000, 6000], tileURL: "", fake: 1};

// TODO: upgrade this to maps v2 which is currently not working for me

// maps['owmTemp'] = {map: map, fake: 1, projection: 1, opacity: 0.5, minZoom: 4, bounded: 1, tileURL: "http://maps.openweathermap.org/maps/2.0/weather/TA2/${z}/${x}/${y}.png?appid=797180fce0d1a2f2b07179b7c2caf8ed"};

maps['osmMap'] = {map: map, fake: 1, projection: 1, opacity: 1, minZoom: 4, bounded: 1, tileURL: "https://tile.openstreetmap.org/${z}/${x}/${y}.png"};

maps['owmTemp'] = {map: map, fake: 1, projection: 1, opacity: 0.5, minZoom: 4, bounded: 1, tileURL: "https://tile.openweathermap.org/map/temp_new/${z}/${x}/${y}.png?appid=797180fce0d1a2f2b07179b7c2caf8ed"}

maps['owmClouds'] = {map: map, fake: 1, projection: 1, opacity: 0.5, minZoom: 4, bounded: 1, tileURL: "https://tile.openweathermap.org/map/clouds_new/${z}/${x}/${y}.png?appid=797180fce0d1a2f2b07179b7c2caf8ed"}

maps['owmPrecip'] = {map: map, fake: 1, projection: 1, opacity: 0.5, minZoom: 4, bounded: 1, tileURL: "https://tile.openweathermap.org/map/precipitation_new/${z}/${x}/${y}.png?appid=797180fce0d1a2f2b07179b7c2caf8ed"}

maps['owmWind'] = {map: map, fake: 1, projection: 1, opacity: 0.5, minZoom: 4, bounded: 1, tileURL: "https://tile.openweathermap.org/map/wind_new/${z}/${x}/${y}.png?appid=797180fce0d1a2f2b07179b7c2caf8ed"}

maps['tzMap'] = {map: map, opacity: 0.5, width:65536, height:32768, origTileZoom: 8, maxZoom: 8, fake: 1, tileURL: "http://ws.terramapadventure.com/TIMEZONES/${z}/${x}/${y}.png"};

maps['infoMap'] = {map: map, projection: 1, opacity: 0.5, fake: 1, tileURL: "http://test.barrycarter.info/bc-mytile3.pl?/${z}/${x}/${y}.png"};

maps['climateMap'] = {map: map, opacity: 1, width: 43200, height: 21600, origTileZoom: 8, opacity: 0.5, maxZoom: 8, fake: 1, tileURL: 'http://ws.terramapadventure.com/CLIMATE/${z}/${x}/${y}.png'};

maps['landUseMap'] = {map: map, opacity: 0.5, width: 129600, fake: 1, height: 64800, origTileZoom: 9, maxZoom: 9, tileURL: 'http://ws.terramapadventure.com/LANDUSE/${z}/${x}/${y}.png'};

console.log('maps defined');

for (var key in maps) {
  document.getElementById(key).addEventListener('change', update);
  document.getElementById(`${key}.o`).addEventListener('change', update);
}

redraw_map();

function update(e) {
//  console.log(var_dump(e.target));
//  console.log(e.target.id);

  console.log('delta');

  let str = e.target.id.replace(".o", "");

  if (str === e.target.id) {
    maps[str].fake = !e.target.checked;
  } else {
    maps[str].opacity = e.target.value;
  }
  
  redraw_map();
}

/**  

Place equirectangular tilesfrom an image on a Leaflet "map" (canvas?) 
given the following in a hash:

map: put the tiles here

tileURL: template for tile URLs

minZoom: never get tiles lower than this zoom level

maxZoom: never get tiles higher than this zoom level

opacity; tile opacity

fake: if set to 1, don't do anything, just print out debugging info

TODO: document function here more

TODO: this function IS different from placeTilesOnMap, because it uses
the image's original width/height and then divides them into "slippy
tiles". However, as I replace images with mapserver data, this
function can probably be phased out

*/

function placeImageTilesOnMap(obj) {

  // defaults

  obj = mergeHashes(obj, str2hash("minZoom=0&maxZoom=999&opacity=1"));

  // do nothing if requested

  if (obj.fake) {return;}

  let z = boundNumber(obj.map.getZoom(), obj.minZoom, obj.maxZoom);

  let [w, s, e, n] = 
    obj.map.getBounds().toBBoxString().split(",").map(parseFloat);

  // the "exact" number of x and y tiles at this z level

  let numXTiles = obj.width/256*2**(z-obj.origTileZoom);
  let numYTiles = obj.height/256*2**(z-obj.origTileZoom);

  // the width and height of a tile in degrees

  let tileWidth = 360/numXTiles;
  let tileHeight = 180/numYTiles;

  // determine min and max tile number ranges for current view

  let iMin = Math.floor((w+180)/360*numXTiles);
  let iMax = Math.floor((e+180)/360*numXTiles);
  let jMin = Math.floor((s+90)/180*numYTiles);
  let jMax = Math.floor((n+90)/180*numYTiles);

  //  td([iMin, iMax, jMin, jMax, tileWidth, tileHeight], "bounds");

  for (let i = iMin; i <= iMax; i++) {
    for (let j = jMin; j <= jMax; j++) {

      // if j value out of bounds, do nothing (TODO: dragon tiles?)

      if (j < 0 || j > numYTiles) {continue;}

      // same for i value FOR NOW

      if (i < 0 || i > numXTiles) {continue;}

      // determine URL and place tile

      let url = convertStringTemplate(obj.tileURL, {x: i, y: j, z: z});

      td(url, "URL");

      let bounds = [ [-90+tileHeight*j, -180+tileWidth*i],
		     [-90+tileHeight*(j+1), -180+tileWidth*(i+1)] ];

      td(bounds, "bounds");

      L.imageOverlay(url, bounds, 
      			   {opacity: obj.opacity}).addTo(obj.map);

    }
  }
}


// TODO: pass image base too

function redraw_map() {

  // TODO: not this
  map.eachLayer(function(layer) {layer.remove()});

  placeBufferOnMap(maps['buffer']);

  //  L.imageOverlay(url, [ [-90, -180], [90, 180]]).addTo(map);

  // the OSM map (comes first so others can overlay)
  placeTilesOnMap(maps['osmMap']);
  placeTilesOnMap(maps['infoMap']);

  // TODO: get rid of these and use data instead
  placeImageTilesOnMap(maps['tzMap']);
  placeImageTilesOnMap(maps['climateMap']);
  placeImageTilesOnMap(maps['landUseMap']);

  // placeTilesOnMap(maps['tzMap']);
  //  placeTilesOnMap(maps['climateMap']);
  //  placeTilesOnMap(maps['landUseMap']);

  // OWM testing
  placeTilesOnMap(maps['owmTemp']);
  placeTilesOnMap(maps['owmClouds']);
  placeTilesOnMap(maps['owmPrecip']);
  placeTilesOnMap(maps['owmWind']);

  // below takes forever, wrong way to draw pixels

  //  for (i=0; i < 10; i+=0.01) {
  //    for (j=0; j < 10; j+=0.01) {
  //       L.rectangle([ [i,j], [i+0.01, j+0.01]]).addTo(map);
  //    }
  //  }

  // draw arcsecond square etc
  let center = map.getCenter();

  var latarc, lngarc;

  //  L.geoJson(buffered).addTo(map);
  //  L.geoJson(buff2).addTo(map);

  [3600, 1200, 480, 120, 60].forEach(function (x) {
     latarc = Math.floor(center.lat*x)/x;
     lngarc = Math.floor(center.lng*x)/x;
//  console.log("COORDS",latarc,lngarc,latarc+1/3600,lngarc+1/3600);
//     L.rectangle([ [latarc, lngarc], [latarc+1/x, lngarc+1/x]]).addTo(map);
});
  
// L.rectangle([[35, -106.5], [36, -105.5]], {color: "#ff7800", weight: 1}).addTo(map);
// L.circle([35, -106.5], 10, {color: "#ff7800", weight: 1}).addTo(map);

}

</script>
