<link rel="stylesheet" href="leaflet.css" />
<script src="leaflet.js"></script>
<script src="proj4-compressed.js"></script>
<script src="proj4leaflet.js"></script>
<style>html,body, #map {height:100%;}</style>
<div id="map"></div>

<script>

// EPSG:32663 is the equirectangular "Plate Carree" projection

// var crs = L.Proj.CRS('EPSG:32663', '');

var map = L.map('map').setView([0, 0], 4);

L.tileLayer(
'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
 {opacity: 1}).
addTo(map);

/*
L.tileLayer(
'http://test.barrycarter.info/bc-mytile2.pl?zoom={z}&x={x}&y={y}.png',
 {opacity: 0.5}).
addTo(map);
*/

var imageUrl = 'https://terramapadventure.herokuapp.com/MapTiles/lcc-reduced-01.png';
	
L.imageOverlay(
	"file:///home/user/NOBACKUP/EARTHDATA/CLIMATE/merc1.png",
	[[-85, -180], [85, 180]],
	{opacity: 0.5}).addTo(map);

</script>
